// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #b66dff
$secondary = #d8d8d8
$accent    = #868CAD

$positive  = #1bcfb4
$negative  = #fe7c96
$info      = #198ae3
$warning   = #fed713


@import '~quasar-variables-styl'
